<?xml version="1.0" ?>

<robot name="test_base" xmlns:xacro="https://www.ros.org/wiki/xacro">

    <!-- create the main body here -->
    <link name="main">
        <inertial>
            <mass value="1"/>
            <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.01"/>
        </inertial>
        <visual>
            <geometry>
                <box size="0.95 0.95 0.05"/>
            </geometry>
        </visual>
    </link>

    <xacro:include filename="$(find omni_wheel_description)/xacro/omni_150mm.xacro"/> 

    <xacro:omni_wheel_150mm name="wheel1" parent_link="main" 
                            xyz=" 0.5  0.5 0" driving_angle="-0.785" 
                            effort_limit="10" speed_limit="40" reduction="1"/>

    <xacro:omni_wheel_150mm name="wheel2" parent_link="main" 
                            xyz="-0.5  0.5 0" driving_angle=" 0.785" 
                            effort_limit="10" speed_limit="40" reduction="1"/>

    <xacro:omni_wheel_150mm name="wheel3" parent_link="main" 
                            xyz="-0.5 -0.5 0" driving_angle=" 2.356" 
                            effort_limit="10" speed_limit="40" reduction="1"/>

    <xacro:omni_wheel_150mm name="wheel4" parent_link="main" 
                            xyz=" 0.5 -0.5 0" driving_angle=" 3.926" 
                            effort_limit="10" speed_limit="40" reduction="1"/>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/test_base</robotNamespace>
      </plugin>
    </gazebo>

</robot>